doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale =1.0')
  title E-Library
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
  link(rel='stylesheet' href='../stylesheets/widescreen.css')
// <nav>
// <div id = "NavBar">
// <ul>
// <li><a href="#TablePage">Collection</a></li>
// <li><a href="#home">Home</a></li>
// </ul>
// </div>
// </nav>
section#home.HomePage
  #WelcomeText
    h2 Welcome here!
    p
      | That&rsquo;s a page of e-library, where you can  check our cool collection of books.
      | Of course,  we work as usual library: lend books and wait them back!
  #main_btn
    ol
      button#allbooksBtn(onclick='jump_to_page()') Collection
    ol
      button#returnBtn(onclick='return_popup()') Return book
section#TablePage.CollectionPage
  #sortThing
    button#sortBtn
      // <span class="material-symbols-outlined">sort</span>
      #sortText Sort By
      .sort-content
        a Title
        a Author
        a Year
  div(id='Tab&Btn')
    .GridContent
      #data-output
        // Prodcuts from javascript file in here.
    #TableBtns
      ol
        button#addBtn(onclick='add_popup()')
          span.material-symbols-outlined add
      ol
        button#delBtn(onclick='del_popup()')
          span.material-symbols-outlined remove
#addForm.popupform
  form.form-container(name='addBook')
    .inner-content
      #text.input-list
        h3 Title of the Book
        label
          input.popup-input(placeholder='Hamlet' required='' minlength='2' maxlength='40' size='30')
        h3 Author&apos;s Name
        label
          input.popup-input(placeholder='W. Shakespeare' required='' minlength='2' maxlength='40' size='30')
        h3 Published Year
        label
          input.popup-input(placeholder='1601' required='' minlength='4' maxlength='4' size='30')
      #part
        button.btn.cancel(type='button' onclick=' closeForm()')
          span.material-symbols-outlined close
    #formBtn
      button#uploading.btn.upl(onclick='uploadImage()')
        | Upload image
        // <input type='file'> <br><image id="MyImg" src="#"/>
      button.btn(type='submit' onclick='fetching_data()') Add
#delPop.popupform
  form.form-container(name='delBook')
    .inner-content
      select#author
        option
      select#title
        option
      button.btn.cancel(type='button' onclick=' closeDel()')
        span.material-symbols-outlined close
script(src='../javascripts/script.js')
script(src='../javascripts/mainpage.js')
script(src='../javascripts/sorting.js')
script#book-template(type='text/template').
  <a href="mypage.pug">
  <div id="inner">
  <img src="/images/book-images/default_cover.png" alt="book cover" draggable="false">
  <div class="book-info">
  <ul>
  <li> Title: </li>
  <li> Author: </li>
  <li> Year of Publishing</li>
  </ul>
  </div>
  </div>
  </a>
